*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    transition: all .2s ease-in-out;
    user-select: none;
}

:root {
    --big-font: 69px;
    --bg-color: #fbfbfb;
    --tab-clolor: #212832;
    --red-color: #DF6951;
    --primary-header: #181E4B; 
    --secondary-text: #5E6282;
    --tertiary-text: #686D77;
    --yellow : #F1A501;
}

body{
    max-width: 1920px;
    margin-inline: auto;
    background-color: var(--bg-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

header .logo {
    font-size: 40px;
    font-weight: bold;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
}

header a {
    text-decoration: none;
    color: var(--tab-clolor);
    font-weight: 500;

}

section, header {
    padding: 20px 10%;
}

section:not(.hero) {
    margin-block: 100px;
}

section.hero {
    position: relative;

}

.hero .vector {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -999;
}

.hero {
    display: flex;;
    justify-content: space-between;
    align-items: center;
    height: min(100vh, 900px);
}

.hero .hero-content {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 500px;
}

.hero-content p:first-child{
    color: var(--red-color);
    font-weight: bold;  
}

.hero .hero-content h1, .hero .hero-content h1 span {
    font-size: var(--big-font);
    line-height: 1;
    color: var(--primary-header);
    font-family: volkhov, sans-serif;
}

.hero .home-img{
    height: 600px;
}

.splashed {
    position: relative;
}

.splashed::after{
    content: "";
    position: absolute;
    bottom: 15px;
    width: 160%;
    height: 12px;
    left: -20px;
    background-image: url("./img/vectors/splash.png");
    background-size: contain;
    z-index: -11;
}

.hero .hero-content p:last-of-type{
    color: var(--secondary-text);
}

.hero .hero-content .buttons {
    display: flex;
    gap: 2rem;
}

.hero .hero-content .buttons button:first-child{
    font-size: 18px;
    color: var(--bg-color);
    background-color: var(--yellow);
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
}
.hero .hero-content .buttons button:first-child:hover{
    box-shadow: 0 0 35px var(--yellow);
    transform: translateY(-5px);
}

.hero .hero-content .buttons button:last-child{
    color: var(--bg-color);
    font-size: 18px;
    color: var(--tertiary-text);
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero .hero-content .buttons button:last-child i{
    color: var(--bg-color);
    background-color: var(--red-color);
    width: 52px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.hero .hero-content .buttons button:last-child:hover{
    transform: translateY(-5px);
}

.hero .hero-content .buttons button:last-child:hover i{
    box-shadow: 0 0 35px var(--red-color);
}

.category-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.plus{
    position: absolute;
    top: 0;
    right: 40px;
}

section > p, .easy-fast-description > p {
    color: var(--secondary-text);
    font-size: 18px;
    font-weight: 600;
}

section > h2, .easy-fast-description > h2 {
    font-family: volkhov, sans-serif;
    color: var(--primary-header);
    font-size: 50px;
    font-weight: bold;
}

.category-section .categories {
    display: flex;
    padding: 20px 40px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}

.category-section .categories .category {
    border-radius: 35px;
    background-color: var(--bg-color);
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    box-sizing: content-box;
    position: relative;
    padding: 15px 25px;
}

.category-section .categories .category::after {
    content: "";
    width: 100px;
    aspect-ratio: 1/1;
    background-color: var(--red-color);
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: all .2s ease-in-out;
    z-index: -1;
    border-radius: 30px 0 10px;
}
.category-section .categories .category:hover::after {
    left: 0;
    bottom: 0;
    transform: translate(-30%, 30%);
}

.category-section .categories .category img {
    height: 60px;
}

.category-section .categories .category h3{
    font-weight: 600;
    font-size: 20px;
    color: var(--primary-header);
}
.category-section .categories .category p{
    color: var(--secondary-text);
    font-weight: 500;
    text-align: center;
    width: 185px;
}

.top-destinations{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem   ;
}

.top-destinations .cards{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 40px 10px;
}

.card{
    aspect-ratio: 11/16;
    border: none;
    border-radius: 25px;
    flex-grow: 0;
    flex-shrink: 0;
    width: 300px;
    overflow: hidden;
    box-shadow: 0 0 30px rgb(211, 211, 211);
    background-color: var(--bg-color);
}

.card .img-container {
    width: 100%;
    height: 75%;
    overflow: hidden;
}

.card .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

}

.card:hover img {
    transform: scale(1.1);
}

.card h3, .card p{
    padding: 15px;
    color: var(--secondary-text);
}

.card h3{
    display: flex;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: var(--secondary-text);
    justify-content: space-between;
}

.card p i {
    color: initial;
}

.easy-fast {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.easy-fast .easy-fast-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 500px;
}

.easy-fast .easy-fast-description .steps{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.easy-fast .easy-fast-description .steps .step {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.easy-fast .easy-fast-description .steps .step .step-details {
    font-size: 16px;
    width: 400px;
    h3{
        color: var(--secondary-text);
        font-weight: bold;
    }
    p{
        color: var(--tertiary-text);
    }
}

.easy-fast .images{
    position: relative;
    width: 500px;
}

.easy-fast .images::after{
    content: "";
    width: 200px;
    aspect-ratio: 1/1;
    background-color: #59B1E6;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    filter: blur(150px);
    z-index: -1;
}

.easy-fast .images .front {
    position: absolute;
    top: 70px;
    left: 70px;
    z-index: 1;
} 